body {
  background: aquamarine;
  min-height: 100vh;
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #30b0b0;
}

nav {
  position: fixed;
}

.nav {
  font-size: 1.5em;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
}

.nav__btn {
  padding: 0.5em 0.9em;
  box-sizing: border-box;
  width: 2.7em;
}

.nav__btn:hover {
  color: aquamarine;
  background-color: white;
}

.nav__item {
  margin-top: 0.1em;
}
.nav__link {
  color: white;
  background-color: #30b0b0;
  text-decoration: none;
  display: block;
  padding: 0.2em 0.5em;
  transform: translateX(-8.4em);
  transition: transform 0.8s ease-in-out;
}

.nav__link:hover {
  color: #30b0b0;
  background: white;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.vlakje {
  background-color: #30b0b0;
  width: 15vw;
  height: 15vh;
  transform: translateX(2em);
  transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.box_right {
  transform: translateX(60vw) rotate(180deg);
}

.animeer-knop {
  height: 1.5em;
}

.fas.hidden {
  display: none;
}
.nav__link--slide {
  transform: translateX(0);
}

.nav__link--slide .nav__tekst {
  animation: ijl-na 2s forwards;
}

@keyframes ijl-na {
  0% {
    transform: translateX(-2em);
  }
  50% {
    transform: translateX(0.6em);
  }
  75% {
    transform: translateX(-0.3em);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 450px) {
  .nav {
    flex-direction: row;
    width: 100vw;
  }

  .nav__link {
    transform: translateY(-2em);
  }

  .nav__link--slide {
    transform: translateY(0);
  }

  .nav__item {
    margin-left: 0.1em;
    margin-top: 0;
    flex-grow: 1;
    text-align: center;
  }

  .nav__link--slide .nav__tekst {
    animation: ijl-na-vert 2s forwards;
  }

  @keyframes ijl-na-vert {
    0% {
      transform: translateY(-1em);
    }

    50% {
      transform: translateY(0.1em);
    }

    75% {
      transform: translateY(-0.05em);
    }

    100% {
      transform: translateY(0);
    }
  }
}
